



logging.level:
  root: INFO
  com.example.lab01.repository: DEBUG
  org.springframework.jdbc.core: DEBUG
  org.springframework.jdbc.core.StatementCreatorUtils: DEBUG
  #org.springframework.web: INFO
  #com.microsoft: ERROR


server:
  port: 7070

spring:
  flyway:
    enabled: true
    url: jdbc:mysql://localhost:3306/db01?allowPublicKeyRetrieval=false&useSSL=true&requireSSL=true&serverTimezone=UTC&encrypt=true&autoReconnect=true
    user: root
    password: "{cipher}AgBSzeGtowDiWRogWyH8UxoBoy1KyGyXFt+CdYNwZ5g9HC1mFXfrAs9xOf+ZLsk/DcWJxn7ha8ybOXxrtM1coQAs2y0e+n3+cgx3vBzRvmKFNfv8rfNDLnwhkGld8WQkTu0TvKD3YytE8kqsLEOXPI0EVQKnQ+K+GYd/I1PSrLhYJbU5HSp8szAeQxKpc6v/NHnDbDLWLkZLp9Wwa+c0TV5VDZRKSUeInvOS3gwzy8wgRUsrNf3kWAonpBnSv5e5u5x3AvdwpJsQcePtykoNERdKBhTBlTJph3Gh4SXH2W067uvjr8gmftxbP1nmFigQl5Z1QmY9no1b891Ee5uThMGSXN05FXYzkAuSOAHeuZlGceI5ZuIaFVAtonxmu1qNffrlsZQZAPF40We32jqghULUVMRG3ZQBEW5crF7SVMOeu2BtZP8C8Kh6dvWxK9x1jWk5T+pt/qtnE1V/1vMOsdbqfObdISX42wZtkVdycp/SD9fpAAoIZr7fH1j6Ebq9Q9H5NcaZL9fhYxws2hjYoGB/VjcNb/nJf4eWkYBp6bc4SJatvPgTXtNO60d6ICQOuaI7tOALorb0nv3d0pvSPpc6Ow61WKvqKytxsRdSGrNDY/mb4lR7bQahlCiZgvGbjWNP5f/hEvu4Dc+uRgpECCrTgQCGmGx9DefEv3S/Te0J8oOgiiI8I3inR7BJH7lgsPONdG//5PawUBLfWl4EYr+2"
    locations: classpath:db/migration/lab01
    #schemas: dbo
    #flyway-schemas: flyway-schemas
    group: false

lab01:
  event:
    host: localhost
    port: 5672
    username: rabbitmq
    password: rabbitmq
  db01:
    url: jdbc:mysql://localhost:3306/db01?allowPublicKeyRetrieval=false&useSSL=true&requireSSL=true&serverTimezone=UTC&encrypt=true&autoReconnect=true
    username: lab01user
    password: lab01userpwd
    driverClassName: com.mysql.cj.jdbc.Driver

  features:
    crypto.key: 123456789012345678901234567890
    panicEnabled: false
    smtp1:
      host: gmail.com
      cc:
        - a@demo.com
        - b@demo.com
        - c@demo.com
      port: 8080
    smtp2:
      host: gmail.com
      cc:
        - a@demo.com
        - b@demo.com
        - c@demo.com
      port: 8080
    apis:
      - url: http://www.demo.com
        credential:
          user: admin
          password: password
        headers:
          heade1: value1
          heade2: value2
          heade4: value4
      - url: http://www.demo.com
        credential:
          user: admin
          password: password
        headers:
          heade1: value1
          heade2: value2
          heade4: value4
      - url: http://www.demo.com
        credential:
          user: admin
          password: password
        headers:
          heade1: value1
          heade2: value2
          heade4: value4
      - url: http://www.dem1o.com
        credential:
          user: admin
          password: passwor1d
        headers:
          heade1: value1
          heade2: value2
          heade4: value4

crypto.key: "keyvalue"
